* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.column-week {
  margin: 10px;
}

.days {
  width: 100px;
  height: 100px;
}

.days:hover {
  background-color: lightgray;
}

.add-entry {
  width: 200px;
  height: 50px;
  box-shadow: 3px 3px;
  margin: 20px 0;
}

button {
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
}

.add-entry:hover {
  background-color: rgb(149, 188, 241);
}

/* modal form */

.container-modal {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0/ 50%);
  transform: scale(1.1);
}

.pop-out {
  background-color: white;
  width: 600px;
  height: 270px;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.modal-form {
  margin: 20px;
}

textarea {
  display: block;
  width: 100%;
  padding: 3px;
}

.form-actions {
  display: block;
  width: 100%;
  text-align: right;
}

.submit-button {
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  box-shadow: 1px 1px;
  padding: 0 10px;
}

select,
textarea {
  border: 2px solid black;
}
